body {
	background: linear-gradient(to right, #00ff40, #00ff80);
}

a {
	padding: 10px;
	border: 1px solid black;
	background-color: black;
}

#tablaPaises{
	border: 1px solid black;
}

#nombrePaises th{
	padding: 25px;
}

#nombreMoneda th{
	padding: 5px;
}

#denominacion{
	background-color: #1aff8c;
}

#monto {
	background-color: #008040;
}

#favoritos th{
	padding: 15px 15px;
	background-color: #ffffff;
}
