#verificacion{ 
	background-color:  #ffccb3;
	width: 1000px;
	margin:0 ;
	border: 1px solid black;
	text-align: center;
}

#fila1{
	border: 1px solid black;
}

#fila2{
	border: 1px solid black;
}

#fila3{
	border: 1px solid black;
}

#fila4{
	border: 1px solid black;
}

#fila5{
	border: 1px solid black;
}